<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
 <header>
    <div>
        <img src="/images/logo-mercado-liebre.svg" id="logo">
    </div>
    <div>
    <input type="text" placeholder="Buscar productos, marcas " name="" id=""> 
    </input>
    
    <button>
        <i class="fas fa-search"></i>
    </button>
    </div>
<br>
    <div class="subtitulo">
        <p><i class="fas fa-hand-holding-usd"> </i>Comprá en cuotas y sin tarjeta de crédito</p>
</div>
<br>

  <nav class="navbar">
    <ul>
        <li><a href="">Ofertas</a></li>
        <li><a href="">Tiendas Oficiales</a></li>
        <li><a href="">Vender</a></li>
        <li><a href="">Ayuda</a></li>
    </ul>
 <br>
    <ul>
        <li><a href="">Creá tu cuenta</a> <i class="far fa-id-card"></i></li>
        <li><a href="">Ingresá</a> <i class="fas fa-sign-in-alt"></i>
        <li><a href="">Mis compras</a> <i class="fas fa-shopping-basket"></i>
    </ul>
<br>
  </nav>
    <div class="boton botonBorde">
    <a href="" class="burger-menu">
        <i class="fas fa-bars" style="color: #ffffff;"></i>
        </a>
    </div>
<br>
 </header>
 <main>
    <section class="banner">
        <img src="/images/img-home-banner.jpg" alt="">
    </section>
    
    <h2 class="titular">Basado en tu última visita</h2>
    
    <section class="articulo">
     <img src="/images/img-cafetera-moulinex.jpg">
     <div class="precios">$6.770</div>
     <div>40% OFF</div>
     <div>Cafetera Moulinex</div>
    </section>
    
    <section class="articulo">
        <img src="/images/img-macbook-pro-2019.jpg">
        <div class="precios">$230.000</div>
        <div>20% off</div>
        <div>MacBook Pro 2019</div>
    </section>
    
    <section class="articulo">
        <img src="/images/img-samsung-galaxy-s10.jpg">
        <div class="precios">$70.500</div>
        <div>10% off</div>
        <div>Samsung Galaxy S10</div>
    </section>
   
    <section class="articulo">
        <img src="/images/img-tv-samsung-smart.jpg">
        <div class="precios">$23.200</div>
        <div>5% off</div>
        <div>SmartTv Samsung 43"</div>
    </section>
    <h2 class="titular">Sección de Ofertas</h2>
    
    <section class="articulo">
     <img src="/images/img-cafetera-moulinex.jpg">
     <div class="precios">$6.770</div>
     <div class="descuentos">40% OFF</div>
     <div class="descripciones">Cafetera Moulinex</div>
    </section>
    
    <section class="articulo">
        <img src="/images/img-macbook-pro-2019.jpg">
        <div class="precios">$230.000</div>
        <div class="descuentos">20% off</div>
        <div class="descripciones">MacBook Pro 2019</div>
    </section>
    
    <section class="articulo">
        <img src="/images/img-samsung-galaxy-s10.jpg">
        <div class="precios">$70.500</div>
        <div class="descuentos">10% off</div>
        <div class="descripciones">Samsung Galaxy S10</div>
    </section>
    
    <section class="articulo">
        <img src="/images/img-tv-samsung-smart.jpg">
        <div class="precios">$23.200</div>
        <div class="descuentos">5% off</div>
        <div class="descripciones">SmartTv Samsung 43"</div>
    </section>
<br>
    <footer class="pie">
        <center>
        <br>
            <div class="icono">
            <i class="fas fa-credit-card" style="color: #1160e8;"></i> 
           </div> 
        <h2>Pagá con tarjeta o en efectivo</h2>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        <br>
            <div class="icono">
            <i class="fas fa-gift" style="color: #1160e8";></i>
            </div>
        
        <h2>Envio gratis desde $2500</h2>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        <br>
            <div class="icono">
                <i class="fas fa-user-shield" style="color: #1160e8";></i>
            </div>
        
        <h2>Seguridad, de principio a fin</h2>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </center>
    <br>
        <div class="ending">Copyright © 1999-2020 MercadoLiebre S.R.L.
    

        </div>
    
    </footer>

 </main>
</body>
</html>